:root{
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-blue: hsl(234, 17%, 12%);

    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    z-index: 2;
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.start{
    position: absolute;
}
.hills{ 
    z-index: 2;
    position: fixed;
    bottom: 0;
}

body{
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(235, 16%, 14%);
    background-image: url('./images/bg-stars.svg');
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}
.container h1{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.countdown{
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.countdown div{
    margin: 10px;
}

.countdown p{
    padding: 20px;
    background-color: var(--Dark-desaturated-blue);
    color: var(--Soft-red);
    font-size: 46px;
    padding: 20px;
    border-radius: 5px;
}

.countdown h3{
    color: var(--Grayish-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 10px;
}

.socials{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.socials ul{
    display: flex;
}
.socials ul li{
    margin: 0 20px;
}

.attribution{
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a{
    color: hsl(229, 45%, 44%);
}

@media (max-width: 500px){
    .container{
        max-width: auto;
        padding: 0 20px;
    }
    .container h1{
        text-align: center;
    }
}

@media(min-width:1440px){
    .start img, .hills img{
        width: 1600px;
    }
}
@media(min-width: 1600px){
    .start img,
    .hills img{
        width: 1920px;
    }
}